.social-icons {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    max-width: 130px;

    .social-link {
        font-size: 18px;
 
        &:hover {
            color: $primary;
        }
    }
}